.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Bố trí các component ở đầu */
  padding: 20px;
  flex-wrap: wrap; /* Cho phép các component xuống hàng nếu không đủ chỗ */
}

.app-container > div {
  flex: 1; /* Mỗi component chiếm 1 phần */
  margin: 10px; /* Khoảng cách giữa các component */
  min-width: 300px; /* Đảm bảo chiều rộng tối thiểu cho mỗi component */
  max-width: 400px; /* Đảm bảo chiều rộng tối đa cho mỗi component */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng đổ bóng */
  padding: 20px; /* Padding cho nội dung bên trong */
  border-radius: 8px; /* Bo góc cho các component */
  background-color: #f9f9f9; /* Màu nền cho các component */
}